node_modules
dist
.next
.env
.env.local
*.log
.DS_Store
coverage
.vscode


src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.d.ts.map
tests/**/*.js
tests/**/*.js.map
tests/**/*.d.ts
tests/**/*.d.ts.map